<hr> 
<%= form_for ([@post, @comment]) do |f| %> 
  <div class = "form-group" > 
  <%= f.text_area :content, class: "form-control", placeholder: "Post comment" %>
</div>
<%= f.submit class: "btn btn-primary" %>
<% end %>
<br> 

