  <div class="post"> 
    <% @posts.each do |post| %>
      <div class="link row clearfix">
        <h2>
          <%= link_to post.title, url_with_protocol(post.url), :target => '_blank' %><br>
        </h2>
      </div>
    <% end %> 
  </div>
