/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require devise_bootstrap_views
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

#logo {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding: 15px 0;
  padding-left: 10px; 
  a {
    color: #2F363E;
  }
}

.post {
margin-bottom: 3px; 
h3 {

    margin-top: 10px;
    margin-bottom: 0px;
    color: #337ab7;
    display: inline ; 
}
  h2 {
    font-size: 25px ;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #337ab7;
    display: inline ; 
  }
} 

.glyphicon-chevron-up{
  font-size: 1.5em; 
}
.glyphicon-chevron-down {
  font-size: 1.5em; 
}
p h2 {
  display: inline; 
}

.content {
  margin-top: 50px; 
}
.vote {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 30px;
  cursor: pointer;
  background-position: 0 -25px;
} 

#main_content {
  #content {
    float: none;
  }

  padding-bottom: 100px;
  .post {
    padding: .2em 1em;
    .title {

      a {
        color: #FF4500;
      }
    }
  }
} 

#votebtn {
  border: none; 
}

.votescount{
  text-align:center; 
  display: table;
  margin: 0 14px;
}

.votes-bar {
margin-top: 10px; 
}
.posttitle{
margin-top: 14px;
}
