/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require devise_bootstrap_views
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
html, body {
  width: auto !important;
  overflow-x: hidden !important;
  background: #fff;
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}

#logo {
  font-size: 26px;
  font-weight: 700;
  text-transform:none;
  letter-spacing: -1px;
  padding: 15px 0;
  padding-left: 10px; 
  a {
    color: #2F363E;
  }

  a:hover {
    text-decoration: none; 
  }
}

#beta {
font-size: 15px ;
display:inline; 
margin-top: 3px !important; 
margin-left: -7px !important; 
}
.post {
  margin-bottom: 1px; 
  h3 {

    margin-top: 10px;
    margin-bottom: 0px;
    color: #337ab7;
    display: inline ; 
  }

  h4 {
    margin-top: 3px; 
    font-size: 19px; 
  }

  h5 {
    margin-top: 6px; 
    font-size: 17px; 
  }
} 

.glyphicon-flash{
  font-size: 2.5em; 
  color:#337ab7; 
}
.glyphicon-circle-arrow-up{
  font-size: 4em; 
  color: #00e500;
  margin-bottom: 0px;
}
.glyphicon-chevron-up{
  font-size: 2em; 
}
.glyphicon-chevron-down {
  font-size: 2em; 
}

.upvotecolor {

  color: #00cc00;
}
p h2 {
  display: inline; 
}

.content {
  margin-top: 50px; 
}
.votez {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 30px;
  cursor: pointer;
  background-position: 0 -25px;
} 

#main_content {
  #content {
    float: none;
  }

  padding-bottom: 100px;
  .post {
    padding: .2em ;
    .title {

      a {
        color: #FF4500;
      }
    }
  }
} 
#comments {
  .comment {
    padding: 1em 0;
    border-top: 1px solid #E9E9E9;
    background-color: none;
    .lead {
      margin-bottom: 0;
    }
  }
}

#votebtn {
  border: none; 
  background-color: #fff;
}

.votescount{
  margin-top: 0;
  text-align:center; 
  display: table;
  margin: 0 19px;
}

.votes-bar {
  margin-left: 0px;
  margin-top: 10px; 
  margin-right: 20px; 
  padding: 0;
}
.posttitle{
  margin-top: 14px;
}

@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0;
    margin-left: 0;
  }
}

.upvotethis {
  margin-left: 5px; 
}


.pagination {
  background: white;
  cursor: default;
/* self-clearing method: */ }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.6em;
    font-size: 20px;
    display: block;
    float: left;
  margin-right: 1px; }
  .pagination .disabled {
    display:none;
    color: #999999;
  border: 1px solid #dddddd; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
  border: 1px solid #2e6ab1; }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
  border: 1px solid #9aafe5; }
  .pagination a:hover, .pagination a:focus {
    color: #000033;
  border-color: #000033; }
  .pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
  text-align: center; }
  .pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
  padding: 0.1em 0.25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
  visibility: hidden; }
  * html .pagination {
  height: 1%; }
  *:first-child + html .pagination {
  overflow: hidden; }

